* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background: #000d37;
	color: #fff;
	padding: 20px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header p {
	font-family: 'Mea Culpa';
	font-size: 1.5rem;
}
.logo-container {
	display: flex;
}
header h2 {
	color: yellow !important;
}
.h-logo {
	width: 70px;
	height: 78px;
	margin-right: 20px;
}

/**search  **/
.search-container-element {
	display: flex;
	align-items: center;
	background: #eeeeee;
	height: 30px;
	padding: 20px;
	flex: 1;
	margin: 0 40px;
	position: relative;
	border-radius: 5px;
}

.search-container-element > input {
	border: none;
	outline: none;
	width: 100%;
	background-color: transparent;
}
.search-container-element > input::placeholder {
	font-size: 1rem;
}
.search-container {
	height: 40px;
	width: 60px;
	position: absolute;
	right: 0;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.search {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

nav > ul {
	display: flex;
}
nav > ul > li {
	list-style-type: none;
	margin: 0 10px;
}
nav > ul > li > a {
	color: #fff;
	text-decoration: none;
}
.menu {
	display: none;
}

@media screen and (max-width: 650px) {
	.search-container-element,
	nav {
		display: none;
	}
	.h-logo {
		width: 40px;
		height: 40px;
	}
	header h2 {
		font-size: 1rem;
	}
	header p {
		font-size: 0.7rem;
	}
	.menu {
		display: block;
		width: 30px;
		height: 30px;
	}
	.menu > img {
		width: 100%;
		height: 100%;
	}
}
@media screen and (min-width: 650px) and (max-width: 1000px) {
	.search-container-element {
		display: none;
	}
	.h-logo {
		width: 50px;
		height: 60px;
	}
	header h2 {
		font-size: 1.2rem;
	}
	header p {
		font-size: 0.8rem;
	}
}
/** foooter **/
footer {
	background: #000d37;
	padding: 20px;
}
footer > div {
	display: flex;
	justify-content: center;
	gap: 30px;
}
footer > div > div {
	display: flex;
	column-gap: 5px;
	align-items: center;
}
footer > div > div > p,
.copyright {
	color: #fff;
}
footer > div > div:nth-child(2) {
	margin: 10px 0;
}
.footer-icons {
	height: 20px;
	width: 20px;
	background-color: #fff;
	padding: 4px;
	border-radius: 50%;
}

@media screen and (max-width: 600px) {
	footer > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	footer > div > div > p {
		margin: 0;
		margin-left: 5px;
	}
	.footer-icons {
		height: 20px;
		width: 20px;
	}
	.social-media-icons {
		display: flex;
		flex-direction: row;
		margin: 10px 0;
	}
	.copyright {
		text-align: center;
	}
}
